@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Kalam', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.pageContainer{
    padding:5px;
    border-radius: 3px;
}

.navBar{
    color: azure;
    background-color: #ad6d2f;
    padding:10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar>div{
    display: flex;
    gap: 15px;
    align-items: center;
}
#logo{
    border-radius: 50%;
    transform: rotate(-90deg);
    border: 2px solid azure;
    cursor: pointer;
    transition: 900ms;
}
#logo:hover{
    transform: rotate(300deg);
}
.heading{
    font-size: 30px;
    font-weight: bold;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    list-style-type: none;
}
.lnk{
    transition: 900ms;
}
.lnk:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
.grabCup{
    padding: 10px;
    border:2px solid white;
    border-radius: 30px;
    transition: 300ms;
    color: azure;
}
.grabCup:hover{
    border: 2px solid #37251b;
    color: #37251b;
}
a{
    color: azure;
    text-decoration: none;
    transition: 500ms;
}
.grabCup>a:hover{
    color: #37251b;
}
.sectionA{
    display: flex;
    gap:10px;
    background-color:#ad6d2f;
    padding: 50px 14%;
    align-items: center;
}
.sectionA>div{
    flex-basis: 50%;
}
.header{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #37251b;
}
.headerDetail{
    font-size: 24px;
    padding: 5px;
    color: #37251b;
    font-weight: bold;
    margin-bottom: 30px;
}
button{
    padding: 12px;
    border-radius: 30px;
    border: 3px  solid white;
    background-color:#ad6d2f;
    color: azure;
    font-size: 20px;
    cursor: pointer;
    transition: 500ms;
}
button:hover{
    background-color: #d2c1b0;
    color: white;
    transform: scale(1.1);
}
.mainImage{
    object-fit: contain;
    max-width: 700px; 
    border-radius: 30px;
    border: 2px solid white;
}

.sectionB{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    background-color: #d2c1b0;
    color: #37251b;
    padding: 7% 14%;
}
.card{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 30px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.card>div>img{
    width: 100%;
    height: 300px;
    border: 2px solid azure;
    border-radius: 20px;
    object-fit: cover;
}

.sectionC{
    background-color: #80411e;
    color: azure;
    padding: 7% 16%;
}
.quote{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-style: italic
}
.quoteName{
    font-size: 30px;
    text-align: right;
    font-weight: bold;;
}

.sectionD{
    display: flex;
    justify-content: center;
    background-color: #d2c1b0;
    padding: 4% 14%;
}
.sectionD>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: #ad6d2f;
}
.sectionD>div>div{
    width: 80%;
    color: azure;
}
h5{
    color: #37251b;
    font-size: 24px;
}
.text{
    color: black;
    font-size: 20px;
}
.footer{
    background-color: #37251b;
    color: white;
    padding: 30px 14%;
    text-align: center;
    font-weight: 500;
}
.sym{
    font-size: 25px;
}